body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vw 2vw 3vw 2vw;
}

#image-header {
  width: 40vw;
}
#image-header > p {
  text-align: center;
}
#company-logo {
  width: 100%;
}
#search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 40vw;
}
#form-input-wrapper {
  border: 1px solid lightgray;
  display: flex;
  border-radius: 5px;
  padding: 10px;
  flex: 1;
}
#form-input-wrapper > input,
#form-input-wrapper > input:focus,
#form-input-wrapper > select,
#form-input-wrapper > select:focus {
  border: none;
  outline: none;
}
#form-input-wrapper > input {
  flex: 1;
}
#form-input-wrapper > select {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}
#form-submit {
  margin-top: 10px;
  padding: 10px 30px;
  border: 1px solid #333348;
  background-color: #333348;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
#form-submit:hover {
  box-shadow: 0px 5px 10px #545454;
}
#form-submit:disabled {
  cursor: not-allowed;
  border: 1px solid lightgray;
  background-color: lightgrey;
}
.ui-message {
  text-align: center;
}
.ui-message.error {
  color: red;
}
@media (max-width: 400px) {
  #image-header,
  #search-form {
    width: 80vw;
  }
}
@media (min-width: 400px) {
  #form-input-wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #form-submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 0px;
  }
}
